/*Button
======================= */
.btn{
  display: inline-block;
  vertical-align: top;
  padding: 14px 80px;

  border-radius: 2px;
  border: 2px solid #ffffff;
  cursor: pointer;

  font-family: inherit;
  font-size: 18px;
  color: $top-color;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  transition: background-color .1s linear;

  letter-spacing: 2.52px;
}

.black {
  color: #000;
  border: 2px solid #000;
}

.small{
  padding: 10px 50px;

  font-size: 13px;
  font-weight: 400;

  letter-spacing: 1px;
}
